@import './reset.scss';
@import '../animation.scss';
* {
    touch-action: pan-y;
}
.text-C{
    text-align: center;
}
.text-R{
    text-align: right;
}
.text-L{
    text-align: left;
}
.float-L{
    float: left;
}
.float-R{
    float: right;
}
.clear{
    clear:both;
    display:block;
    font-size:1px;
    height:0;
    visibility:hidden;
    line-height:0;
    }
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.clearfix{
    zoom:1;
}
.margin-tb-20{
    margin: 20px 0;
  }
  .margin-tb-40{
    margin: 40px 0;
  }
  .padding-tb-40{
    padding: 40px 0;
  }
  .margin-lr-P5{
    margin: 0 5%;
  }
  .width-p90{
      width: 90%;
  }
  .margin-auto{
      margin:0 auto;
  }
// html, 
// body,
// #app,
// #app>div:nth-child(1){
//     position: relative;
//     width: 100%;
//     height: 100%;
// }
// html, body {
//     user-select: none;
//     -webkit-touch-callout: none;
//     -webkit-tap-highlight-color:rgba(0,0,0,0);
//     -webkit-text-size-adjust:100%;
//     -ms-text-size-adjust:100%;
// }
// body{
//     font-family:"Helvetica Neue",Helvetica, Arial,sans-serif; 
//     font-size: 14px;
//     line-height:1;
//     -webkit-overflow-scrolling:touch;
//     overflow-x: hidden;
//     background: #f6f6f6;
//     margin: 0 auto !important;
// }
// .container-view{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: #fff;
//     z-index: 100;
// }
// .scroller{
//     height: auto !important;
//     top: 46px !important;
//     bottom: 0 !important;
// }
// .scroller-foot{
//     height: auto !important;
//     top: 46px !important;
//     bottom: 50px !important;
// }
/****my css******/
.amap-logo {
    display: none!important;
}

.amap-copyright {
    display: none !important;
} 
.border-1-line{
    width: 100%;
    height: 1px;
    background: rgba(1,1,1,0.2);
}
.my-title {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    h1 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      color: #626262;
    }
    h1::before {
      background: url(../../images/line_l.png) no-repeat;
      content: "";
      width: 73px;
      height: 11px;
      display: inline-block;
      position: relative;
      left: -1rem;
  }
  h1::after {
      background: url(../../images/line_r.png) no-repeat;
      content: "";
      width: 73px;
      height: 11px;
      display: inline-block;
      position: relative;
      left: 1rem;
  }
  }
//   #type .van-swipe-item {
//     margin: 20px;
// }